*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 50px 30px;
    color: white;
    font-size: 25px;
}
.container *{
    font-family:'Courier New', Courier, monospace ;
    border: none;
    outline: none;
}
.input-box{
    background-color: #080808;
    padding: 30px 25px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 20px rgba(235, 5, 5, 0.737);
    margin-bottom: 50px;
}
input,
button{
height: 50px;
background-color: #ffffff;
color: #080808;
font-weight: 500;
border-radius: 5px;
}
input{
    width: 60%;
    padding: 0 20px;
    font-weight: bold;
    font-size: medium;
}
button{
    width: 30%;
    float: right;
    font-size: medium;
    font-weight: bold;
}
.output-box{

    width: 100%;
    justify-content: space-between;
    display: flex;
}
.output-box div{

    height: 100px;
    width: 100px;
    background-color: #080808;
    border-radius: 5px;
    display: grid;
    place-items: center;
    padding: 20px 0;
    color: #ffffff;
    box-shadow: 5px 5px 10px 10px rgba(235, 5, 5, 0.737);
}
span{
    font-size: 30px;
    font-weight: bold;
}
p{
    font-size: 14px;
    color: white;
    font-weight: 400;
}